html{
  box-sizing: border-box;
}
body{
  height: auto;
  background-image: url("../assets/bg-1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
  
}
.link-color{
  color: white !important;
  font-size: 125%;
}
#home-container{
  height: 100vh;
}
#home-item{
  text-align: right;
}